name: 'CI'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: npm
      - name: install
        run: npm i
      - name: build
        run: npm run build:user-flow-gh-action
      - name: Commit build
        uses: EndBug/add-and-commit@v7
        with:
          author_name: push-based.io
          author_email: opensource@push-based.io
          message: 'Persist build'
          add: '*'
      - name: test
        run: npm run test
      - name: Run test user-flow-gh-action locally
        id: localRun
        uses: ./packages/user-flow-gh-action/src/
        with:
          dryRun: 'off'
          verbose: 'on'
          rcPath: ./.user-flowrc.json
          serverBaseUrl: push-based.io
          serverToken: 123
